.fancy-button--a{
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.fancy-button--a:hover{
  background-color: var(--background) !important;
  transition: 0.4s all ease-in-out;
  border: none !important;
}

.fancy-red:hover{background-color: crimson !important; }
.fancy-salmon:hover{background-color: salmon !important; }
.fancy-orange:hover{background-color: orange !important; }
.fancy-crims:hover{background-color: var(--custoncrimson) !important; }

.fancy-span{}