.footer--container{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 2.0rem;
  padding-bottom: 2rem;
  color: white;
  gap: 4rem;
}
footer span{
  display: inline-block;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  cursor: pointer;
  border-radius: 100%;
}

.a--firstapp1{ background-image: url("@logos/TodoMachineIconWb.svg");  
  background-color: cyan;
};
.a--firstapp1:hover{ background-image: url("@logos/TodoMachineIcon.svg"); }

.a--papapabit{ background-image: url("@logos/papapabit.svg"); 
  background-color: white; 
}

.a--papapabit:hover{  background-color: crimson; } 

.a--reactpractico{ background-image: url("@logos/reactpractico.svg"); 
  background-color: forestgreen; 
};
.a--reactpractico:hover{  background-color: cyan; };

.a--nodemachine{ background-image: url("@logos/NodeMachine.svg");  
  background-color: greenyellow;
}
.a--nodemachine:hover{
  animation-name: parpadeo;
  animation-duration: .01s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.001s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  box-shadow: -2px 2px 40px rgb(255, 215, 112), 0 0 80px #a945c7;
  overflow: hidden;
  background-color: black;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.mcontenedor{
  overflow: hidden;
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
  background-color:dodgerblue;
  border-radius: 100%;
}

.mcontenedor:hover{ background-color: blueviolet; }

.a--mresolutions { 
  border-radius: 0;
  margin-top: 14px;
  margin-left: -4px;
  height: 70%;
  background-image: url("@logos/vscode.svg"); 
};
.cprofessional{
  overflow: hidden;
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
  background-color: crimson;
  border-radius: 100%;
}
.a--professional{
  background-color: crimson;
  width: 120%;
  margin-left: -13px;
  margin-top: -5px;
  border-radius: 0;
  background-image: url("@logos/logotipoR.png");
  background-size: contain ;
}

.a--professional:hover{ background-image: url("@logos/logotipoR1.png"); }

@media screen and (min-width: 900px){
  .footer--container{
    flex-direction: row;
    gap: 0;
  }
}