.Layout {
  text-align: center;
  background-color: #000; 
  min-height: 99vh;
  padding: 20px;
  max-width: 100vw;
  align-items: center;
}

// .Layout > div:hover {
// 	box-shadow: 0 0 9em #fff, inset 0 0 9rem #fff, 0 0 0 green;
// }
