body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Layout {
  text-align: center;
  background-color: #000; 
  height: 150vp;
  min-height: 100%;
  min-width: 300px; //!
  margin: 28px 20px; //!
}
*{
  scroll-behavior: smooth;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);/* rgba(0,0,0,0.004) */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


@media (max-width: 640px) {
  .Layout {
    margin: 0px 0px; //!
  }
}