body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Layout {
  text-align: center;
  background-color: #000; 
  height: 150vp;
  min-height: 100vh;
  max-width: 100vp;
  // margin: 20px; //!
}
*{
  scroll-behavior: smooth;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);/* rgba(0,0,0,0.004) */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

// .Layout > div:hover {
// 	box-shadow: 0 0 9em #fff, inset 0 0 9rem #fff, 0 0 0 green;
// }
