.collectionCard {
  color: white;
  background-color: #1a1c1e;
  border-radius: 18px;
  overflow: hidden;
  width: 310px;
  height: 360px;
  margin-right: 28px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.details {
  padding: 12px;
}
.details > div {
  // border-right: 10rem; 
  // text-align: left; //!text title center
}
.name {
  font-size: 20px;
  font-weight: 900;
}
// .name > div {
//   padding-right: 4em;
// }
.id {
  color: #a1a5b0;
  font-size: 20px;
  font-weight: 600;
  padding-top: 4px;
}
.collectionCard > img {
  width: 100%;
}
.wethImage {
  height: 24px;
  border-radius: 100%;
  vertical-align: middle; //!zoom
  transition: 1.5s ease;
  -moz-transition: 1.5s ease; /* Firefox */
  -webkit-transition: 1.5s ease; /* Chrome - Safari */
  -o-transition: 1.5s ease; /* Opera */
}
.wethImage:hover {
  box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem green;
  transform : scale(1.3);
  -moz-transform : scale(1.3); /* Firefox */
  -webkit-transform : scale(1.3); /* Chrome - Safari */
  -o-transform : scale(1.3); /* Opera */
  -ms-transform : scale(1.3); /* IE9 */
}
.priceContainer {
  // display: flex; //! price eth center
  margin-top: 12px;
  align-content: center;
  object-fit: contain;
}
.price {
  margin-left: 3px;
  font-weight: 600;
}
@media (max-width: 640px) {
  .collectionCard {
    margin: 32px;
  }
}