
.tsuite-main--container{
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
  color: white;
  top: 8rem;
  width: 100%;

  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

.tsuite--carrousel{
  position: relative;
  color: white;
  z-index: 1;
  width: 100%;
  // background-color: #f39f86;
  // background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  padding-top: 1rem;
}
.tsuite--carrousel .h1{
  min-width: 200px;
  max-width: 700px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  // outline: 1px solid red;
  padding: 1rem 1rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 3px black;
}
.textRelativo {
  font-size: 63.3%;
}
.learnmore--container{
  border: 1px solid white;
  width: 200px;
  justify-content: center;
  margin-left: calc(50% - 130px);
  padding: 1.3rem 2rem;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.learnmore--container:hover{
  background-color: var(--oscuroUdea);
  border: none;
  transition: all 1s ease-in-out;
}
.b--learnmore{
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

@media screen and (min-width: 1199px){ 
  .tsuite--carrousel .h1{
    font-size: 2rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 3rem;
  }
  .learnmore--container{
    border: 1px solid white;
    width: 200px;
    margin-left: calc(50% - 440px);
    margin-top: -1rem;
    padding: 1.3rem 2rem;
    font-size: 0.71rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    cursor: pointer;
    text-decoration: none;
  }
  .learnmore--container:hover{
    background-color: var(--oscuroUdea);
    border: none;
    transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1199px){}