.banner-container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 0rem;
  width: 100%;
  min-height: 280px;
  overflow: hidden;
  color: red;
  padding: 2rem 0rem;
  line-height: 1px;
  sup{
    position: relative;
    left: -6rem;
    font-family: var(--barlow);
    color: var(--black1);
    font-weight: bold;
    font-size: var(--sm);
  }
  sup::after{
    content: "";
    position: relative;
    display: inline-block;
    width: 3.3rem;
    margin-left: 1rem;
    height: 0.3rem;
    vertical-align:super;
    background-color: var(--customcrimson);
  }
  h2{
    position: relative;
    top: -1.3rem;
    text-transform: uppercase;
    letter-spacing: -1.55px;
    font-family: var(--barlow);
    font-size: var(--ex2);
    color: var(--black1);
  }
  p{    
    position: relative;
    top: -2.1rem;
    text-transform: uppercase;
    letter-spacing: -1.55px;
    font-weight: lighter;
    font-family: var(--source);
    color: var(--customcrimson);
    font-size: var(--md);
  }
  p::before{
    content: "";
    position: relative;
    display: inline-block;
    width: 8.6rem;
    margin-right: 0.4rem;
    height: 0.4rem;
    vertical-align: super;
    background-color: var(--customgris2);
  }
  img{
    position: relative;
    top: -2rem;
    width: 100%;
  }
}
.button-banner--container{
  display: block;
  justify-content: center;
  margin: -1rem auto;
}
@media screen and (min-width: 1110px){
  .banner-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 420px;
    width: 400px;
    sup{top: 1rem;}
    h2 {top: 0rem;}
    p  {top: -1rem;}
    img{top: -4rem;}
  }
  .button-banner--container{
    margin-top: -4rem;
  }
}