.img--container{
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 280px;
  height: 550px;
  object-fit: contain;
}
@media screen and (min-width: 1110px){
  .img--container{ height: 800px; }
}