.punkList {
  cursor: pointer;
  display: flex;  
  overflow: auto;
  margin-top: 4px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.punkList::-webkit-scrollbar {
  height: 4px;
  width: 10%;
  z-index:1;
}
.punkList::-webkit-scrollbar-thumb {
  border-radius: 100%;
  width: 10%;
  background-color: rgb(255, 238, 7);
}
.punkList::-webkit-scrollbar-corner {
  border-radius: 100%;
}

.punkList::-webkit-scrollbar:hover {
  border-bottom: 8px solid white;
	box-shadow: 0 0 .1rem #fff, inset 0 0 .1rem #fff, 0 0 8rem gold; //!solo hacia arriba
}

@media (max-width: 640px) {
  .punkList {
    display: block;
    align-items: center;
    object-fit: contain;
    margin: 20px;
  }
}